services:
  
  # 2. Dein Webserver (wird das Dashboard)
  webserver:
    image: 'php:8.2-apache'
    container_name: webserver
    restart: unless-stopped
    ports:
      - "80:80"
    volumes:
      - /home/potato/WhaleFuerAbschluss/web:/var/www/html
      - ./apache-custom.conf:/etc/apache2/sites-available/000-default.conf
    user: "1000"
    networks:
      - Intern-netzwerk
      - Daten-netzwerk

  # 4. Nextcloud
  nextcloud:
    image: 'nextcloud:latest'
    container_name: nextcloud
    restart: unless-stopped
    # KEINE PORTS MEHR! Zugriff nur über Caddy
    volumes:
      - nextcloud-data:/var/www/html
    environment:
      MYSQL_HOST: db
      MYSQL_DATABASE: nextcloud
      MYSQL_USER: nextcloud
      MYSQL_PASSWORD: Vollzeittrinker # ÄNDERN!
    ports:
      - "8080:80"
    depends_on:
      - db
    networks:
      - Intern-netzwerk
      - Daten-netzwerk

  # 5. Die Datenbank (für Nextcloud)
  db:
    image: 'mariadb:latest'
    container_name: db
    restart: unless-stopped
    volumes:
      - db-data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=Wurzelchef # ÄNDERN!
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_PASSWORD=Vollzeittrinker # ÄNDERN!
    networks:
      - Daten-netzwerk

  # 6. Datenbankverwaltung (Adminer)
  adminer:
    image: 'adminer:latest'
    container_name: adminer
    restart: unless-stopped
    ports:
      - "8081:80"
    networks:
      - Daten-netzwerk
      - Intern-netzwerk

networks:
  Intern-netzwerk:
    driver: bridge
  Daten-netzwerk:
    driver: bridge

volumes:
  nextcloud-data:
  db-data: